*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

*.iml
/.idea/workspace.xml
/.idea/libraries

/.idea/workspace.xml
/.idea/libraries
out/
.idea/
/captures
/gradle
local.properties
appTest/appTest.iml
