<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.g14.ucd.fitassistant"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="23"
        tools:overrideLibrary="com.gc.materialdesign" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/fitnessicon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service
            android:name=".NotificationFitAssistant"
            android:exported="false" />

        <receiver android:name=".NotificationPublisher" >
        </receiver>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCdswkTRjwSKyvpAKqysB8ddl8nDCjsvAI" />

        <activity
            android:name=".DispatchActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme" >
        </activity>
        <activity
            android:name=".WelcomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/login"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme" >
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:label="@string/signup"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme" >
        </activity>
        <activity
            android:name=".DietActivity"
            android:label="@string/diet"
            android:launchMode="singleTask"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyDietTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:launchMode="singleTask"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".NewDietActivity"
            android:label="@string/title_activity_new_diet"
            android:launchMode="singleTask"
            android:parentActivityName=".DietActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyDietTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.g14.ucd.fitassistant.DietActivity" />
        </activity>
        <activity
            android:name=".ExerciseActivity"
            android:label="@string/exercise"
            android:launchMode="singleTask"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyDietTheme"
            android:windowSoftInputMode="adjustPan" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".NewExerciseActivity"
            android:label="@string/title_activity_new_exercise"
            android:launchMode="singleTask"
            android:parentActivityName=".ExerciseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="adjustPan" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ExerciseActivity" />
        </activity>
        <activity
            android:name=".GoalActivity"
            android:label="@string/title_activity_goal"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MyDietTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".NewGoalActivity"
            android:label="@string/title_activity_new_goal"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MyDietTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GoalActivity" />
        </activity>
        <activity
            android:name=".NewDietScheduletActivity"
            android:label="@string/title_activity_new_diet_schedulet"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MyDietTheme" >
]        
        </activity>
        <activity
            android:name=".ViewGoalActivity"
            android:label="@string/title_activity_view_goal"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MyDietTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GoalActivity" />
        </activity>
        <activity
            android:name=".ExerciseScheduleActivity"
            android:label="@string/title_activity_exercise_schedule"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MyDietTheme" >
        </activity>
        <activity
            android:name=".DietScheduleActivity"
            android:label="@string/title_activity_diet_schedule"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MyDietTheme" >
        </activity>
        <activity
            android:name=".ResultActivity"
            android:parentActivityName=".MainActivity"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:excludeFromRecents="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>
    </application>

</manifest>
